@page "/Citashoy"
@using ConzultorioMedico.Models
@using ConzultorioMedico.Services
@inject ICitas iCitas

if(citas.Counta > 0)
{
<h3>CitasHoy</h3>
<div class="card text-center">
    <div class="card-header">Featured</div>
    <div class="card-body">
        <h5 class="card-title">Citas del dia de hoy</h5>
        <ul class="list-group list-group-light">
            @foreach(cita in citas)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <div class="fw-bold">@cita.Paciente.Name</div>
                    <div class="text-muted">@cita.Fecha</div>
                </div>
                    @if (cita.FechaHora= DataTime.Now)
                    {
                        <span class="badge rounded-pill badge-success">Active</span>
                    }
                    else
                    {
                        <span class="badge rounded-pill badge-success">Perdida</span>
                    }

            </li>
            }
            
        </ul>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
</div>
}
else
{
    <p>Loading ...</p>
}
@code {
    List<Cita> citas = new List<Cita>();

    protected override async Task OnInitialaizedAsync();
    {
        citas = await iCitas.ObtenerCitasHoy();
    }
}
