@page "/inicio"
@rendermode InteractiveServer

<div class="container">
    <div class="row mt">
        <div class="col-4">
            <CitasHoy></CitasHoy>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>

@code {

}
